<aside class="panel panel-pad">
    <div class="section-title-row">
        <h2>Mês a mês</h2>
        <span class="pill">@DateTime.Today.Year</span>
    </div>
    <div id="@_chartElementId" class="monthly-chart"></div>
</aside>
